@media screen and (max-width: 639px) {
  .searchForm {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 50px;
    background-color: #fff;
    padding: 60px 30px 30px;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
  }
  .searchFormVisible {
    opacity: 1;
    visibility: visible;
  }
}
